---
layout: page
---

{{ content }}

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% elsif site.contact == "disqus" %}
    {% include contact_disqus.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}


    <div class="footer-contact">
        <p><i class="fa fa-phone"></i>&nbsp;&nbsp;+352 691 307 036</p>
        <p><i class="fa fa-building"></i> 51, avenue Pasteur </p>
        <p>L-2311, Luxembourg</p>
    </div>


<p style="text-align:center">
<iframe width="425" height="350" frameborder="0" scrolling="no" src="https://www.openstreetmap.org/export/embed.html?bbox=6.119288206100465%2C49.61857380432259%2C6.121415197849275%2C49.619934428535835&amp;layer=mapnik&amp;marker=49.61925325232487%2C6.120350360870361"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=49.61925&amp;mlon=6.12035#map=19/49.61925/6.12035&amp;layers=N">Voir un plan plus grand</a></small></p>

<section data-toggle="doc-calendar" data-picture="1" data-doctor-eid="9e2d3e1b-19fa-4919-8659-d1e8b439e4fd" data-language="fr"> </section>
<script src="https://api.doctena.lu/js/widgetBooking/calendar/build.php"></script>
